<div class="container">
    <h1>All Listings</h1><br>

    <div>

        <% @listings.each do |listing| %>
        <%= listing.address %>
        <br>
        <%= listing.bedrooms %> Bedrooms
        <br>
        <%= listing.bathrooms %> Bathrooms
        <br>
        <%= listing.square_feet %> Square Feet
        <br>
        $<%= listing.price %>
        <br>
        Listings Agent: <%= listing.agent.user_name %>
        <br>
        <br>
        <hr>
        <br>
        <% end %>


            <ul>
                <li><a href="/listings/new">Create New Listing</a></li><br>
                <li><a href="/agents/<%= current_agent.id %>">Home Page</a></li><br>
                <li><a href="/logout">Logout</a></li>
            </ul>
    
    </div>
</div>