<div class="container">
    <h1>All Listings</h1><br>

    <div>

        <% @listings.each do |listing| %>
        <%= listing.address %>,
        <%= listing.bedrooms %> Bedrooms,
        <%= listing.bathrooms %> Bathrooms,
        <%= listing.square_feet %> Square Feet,
        $<%= listing.price %><br>
        <% end %>


            <ul>
                <li><a href="/create_listing">Create New Listing</a></li><br>
                <li><a href="/agent/show">Home Page</a></li><br>
                <li><a href="/logout">Logout</a></li>
            </ul>
    
    </div>
</div>