<div class="container">

  <h1>Welcome, <%= @current_agent.user_name %></h1><br>
  <h2>Here are your listings with potential buyers.</h2>

  <div>

    <% @listings.each do |listing| %>
    <%= listing.address %>,
    <%= listing.bedrooms %> Bedrooms,
    <%= listing.bathrooms %> Bathrooms,
    <%= listing.square_feet %> Square Feet,
    $<%= listing.price %><br>
    
    <% end %> <br>
    
  </div><br>

  <ul>
    <li><a href="/create_listing">Create New Listing</a></li><br>
    <li><a href="/listings">See All Listings</a></li><br>
    <a href="/logout">Logout</a>
  </ul>
  
</div>