<div class="container">

  <h1>Welcome, <%= @current_agent.user_name %></h1><br>
  <h2>Here are your listings</h2>

  <div>

    <% @listings.each do |listing| %>
   
        <%= listing.address %>
        <br>
        <%= listing.bedrooms %> Bedrooms
        <br>
        <%= listing.bathrooms %> Bathrooms
        <br>
        <%= listing.square_feet %> Square Feet
        <br>
        $<%= listing.price %>
        <br>
        <a href="/agents/<%= listing.id %>/edit">Edit Listing</a>
        <br>
        <br>
        <hr>
        <br>
        <% end %>
    
  </div><br>

  <ul>
    <li><a href="/create_listing">Create New Listing</a></li><br>
    <li><a href="/listings">See All Listings</a></li><br>
    <a href="/logout">Logout</a>
  </ul>
  
</div>